<!DOCTYPE HTML>
<html xmlns:ng="http://angularjs.org" id="ng-app" data-ng-app="pulsedev">
<head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, height=device-height, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no" />
	<!--<base href="http://pulse-dev.com"/>-->
	<meta name="description" content="Patrick Marabeas - Web Developer" />
	<meta name="keywords" content="Patrick Marabeas web development developer UI UX frontend" />
	<meta name="author" content="Patrick Marabeas" />

	<title>Patrick Marabeas</title>

	<!-- IE7 polyfill for json -->
	<!--[if lt IE 8]>
	<script src="resources/json3-v3.2.6.min.js"></script>
	<![endif]-->
	<!-- Media Queries polyfill -->
	<!--<script type="text/javascript" src="scripts/css3-mediaqueries.js"></script>-->
	<!-- AngularJS -->
	<script type="text/javascript" src="resources/angularJS-v1.2.5.min.js"></script>
	<!--<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular-touch.js"></script>-->
	<script type="text/javascript" src="scripts/angular-touch.js"></script>
	<!-- Modernizer -->
	<script type="text/javascript" src="resources/modernizr-v2.6.2.min.js"></script>
	<!-- Project Files -->
	<script type="text/javascript" src="scripts/ng-FitText.js"></script>
	<script type="text/javascript" src="scripts/ng-Lettering.js"></script>
	<script type="text/javascript" src="scripts/ng-Adoption.js"></script>
	<script type="text/javascript" src="scripts/ng-ScrollSpy.js"></script>

	<script type="text/javascript" src="scripts/gitHubRepositories.js"></script>
	<script type="text/javascript" src="scripts/dribbbleImages.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>

	<!-- LESS.js -->
	<!-- Server Side -->
	<!--<link rel="stylesheet" type="text/css" href="styles/main.css" />-->
	<!-- Client Side -->
	<link rel="stylesheet/less" type="text/css" href="styles/main.less" />
	<script src="resources/lesscss-v1.5.0.min.js"></script>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

</head>

<body id="top"
	  data-ng-controller="tester"
	  data-ng-class="{open:drawer}"
	  data-scrollspy
	  data-scrollspy-offset="200">

	<div id="overflowWrapper">

		<div id="topBar" data-ng-click="drawerToggle()">
			<i class="fa fa-bars"></i>
			<h1>marabeas.io</h1>
		</div>

		<div id="drawer"
			 data-drawer
			 data-ng-swipe-left="drawerClose()">

			<ul>
				<li class="item">
					<span>Melbourne, Australia</span>
				</li>
				<li class="item">
					<span>patrick@marabeas.io</span>
				</li>
				<li class="item">
					<a href="http://stackoverflow.com/users/1455709/patrick" target="_blank"><i class="fa fa-stack-overflow"></i> Stack Overflow</a>
				</li>
				<li class="item">
					<a href="http://github.com/patrickmarabeas" target="_blank"><i class="fa fa-github"></i> GitHub</a>
				</li>
				<li class="item">
					<a href="http://dribbble.com/patrickmarabeas" target="_blank"><i class="fa fa-dribbble"></i> Dribbble</a>
				</li>
			</ul>

		</div>

		<div id="page"
			 data-content
			 data-ng-swipe-right="drawerOpen()"
			 data-ng-swipe-left="drawerClose()"
			 data-ng-click="drawerClose()">

			<div id="clickShield"></div>

			<div id="header">

				<div class="page">

					<div class="title"><h1 data-lettering="words" data-fittext="0.7">Patrick Marabeas Web Developer</h1></div>

					<div class="about">

						<span class="location">Melbourne, Australia</span>

						<span class="contact">patrick@marabeas.io</span>

						<div class="availabilityContainer" data-fittext="0.93" data-lettering="words">Employment / Freelance</div>

						<span class="introduction" ng-include="'partials/introductionParagraph.html'"></span>

					</div>

				</div>

			</div>

			<nav id="whatever" data-adopt data-adopt-maintain="height" data-navfix>
				<div class="page">
					<ul>
						<li class="item"><a href="#top">top</a></li>
						<li class="item"><a href="##one">stuff</a></li>
						<li class="item"><a href="##two">navigation</a></li>
						<li class="item"><a href="##three">element</a></li>
						<li class="item"><a href="##four">something</a></li>
					</ul>
				</div>
			</nav>


			<div id="latestPost">
				<div class="page">
					<p>Why is AngularJS this good?! The things you can do with it are just ridiculously stupid. "This can't possibly work - huh." Then I start giggling maniacally.</p>
				</div>
			</div>



			<div id="banner">

				<div class="page">

					<!--<h2 data-lettering="lines" data-fittext="0.7" data-fittext-min="50" data-fittext-max="60">-->
						<!--Crafting <br/>-->
						<!--Serious Websites <br/>-->
						<!--Of All Sizes-->
					<!--</h2>-->

				</div>

			</div>


			<div id="content">

				<div class="page">


					<div id="forkit">




						<ul data-ng-controller="DribbbleController">
							<li class="title">Dribbble</li>
							<li class="dribbbles" data-ng-repeat="image in dribbbles">
								<a href="{{ image.url }}"><img src="{{ image.image }}" /></a>
							</li>
							<li class="title">Websites</li>
							<li class="websites">
								<a href="http://weshunthesun.com"><img src="images/wsts.jpg"/></a>
							</li>
							<li class="websites">
								<a href="http://chastya.com"><img src="images/chastya.jpg"/></a>
							</li>
							<li class="websites">
								<a href="http://mbefund.net"><img src="images/mbefund.jpg"/></a>
							</li>
							<li class="websites">
								<a href="http://totally-awesome-tees.com"><img src="images/tat.jpg"/></a>
							</li>
						</ul>

					</div>


					<div id="github" ng-controller="GitController">
						<div class="gitNav">
							<span data-ng-click="sort = 'last_modified'; reverse=!reverse">SORT DATE</span>
							<span data-ng-click="sort = 'data.watchers'; reverse=true">MOST POPULAR</span>
							<input type="text" data-ng-model="search" />
							<br/>
						</div>


						<ul>
							<li data-ng-repeat="git in gits | orderBy:sort:reverse | filter:{$:search}"
								data-ng-switch
								data-on="git.source">

								<div class="project {{ git.category }}"
									 ng-switch-when="github">

									<h1>
										<a href="{{ git.data.html_url }}">
											{{ git.name }}
											<i class="fa fa-link"></i>
										</a>

									</h1>

									<h2>
										<span class="{{ git.category }}">{{ git.category }}: </span>
										{{ git.data.description }}
									</h2>

									<p>{{ git.description }}</p>

									<img src="{{ git.image }}" />

									<ul class="tabs">

										<li class="tab"
											title="stared {{ git.data.stargazers_count }} times">
											<span class="number">{{ git.data.stargazers_count }}</span>
											<span class="title">stars</span>
										</li>

										<!-- FOR SOME REASON $INDEX IS BEING TREATED AS INDEX BEFORE ORDERBY - PERHAPS NG-INIT HAPPENS TOO EARLY? -->
										<!--<li class="tab hasContent" ng-class="{ active:commits }" data-ng-click="commits=!commits" data-ng-init="commits=!$index">-->
										<li class="tab hasContent"
											title="{{ git.commits.length }} commits"
											data-ng-class="{ active:commits }"
											data-ng-click="commits=!commits"
											data-commits-auto-open="{{ $index }}">
											<span class="number">{{ git.commits.length }}</span>
											<span class="title">commits</span>

										</li>

										<li class="tab hasContent"
											title="{{ git.issues.length }} open issues"
											data-ng-class="{ active:issues }"
											data-ng-click="issues=!issues">
											<span class="number">{{ git.issues.length }}</span>
											<span class="title">issues</span>
										</li>

										<li class="tab" title="{{ git.data.forks_count }} forks">
											<span class="number">{{ git.data.forks_count }}</span>
											<span class="title">forks</span>
										</li>

										<li class="tab hasContent"
											title="view demo"
											data-ng-show="git.data.homepage">
											<a href="{{ git.data.homepage }}"><i class="fa fa-cogs"></i></a>
										</li>

									</ul>

									<ul  data-ng-show="detail">
										<li>this is some detail</li>
									</ul>

									<ul data-ng-show="commits">
										<li class="commits"
											ng-style="{ backgroundColor : setColor( 'commit' ) }"
											data-ng-repeat="commit in git.commits | limitTo:'10'">
											<a href="{{ commit.html_url }}"><i class="fa fa-code"></i> {{ commit.commit.message }}</a></li>
									</ul>

									<ul data-ng-show="issues">
										<li class="issues"
											data-ng-repeat="issue in git.issues">

											<ul>

												<li class="label" ng-style="{ backgroundColor : setColor( issue.state ) }">{{ issue.state }}</li><!--

												--><li class="label"
													data-ng-repeat="label in issue.labels"
													ng-style="{ backgroundColor : '#' + label.color }">{{ label.name }}</li><!--

												--><li class="issueTitle"><a href="{{ issue.html_url }}">{{ issue.title }}</a></li>

											</ul>

										</li>

									</ul>

								</div>

							</li>

						</ul>

					</div>

				</div>

			</div>

		</div>

	</div>


	<div id="map"></div>



	<script type="text/javascript">

	var _gaq = _gaq || [];
	 _gaq.push(['_setAccount', 'UA-303454-5']);
	 _gaq.push(['_trackPageview']);

	(function() {
		var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();

	</script>

</body>

</html>