html {
	overflow-x: hidden;
}

body {
	overflow-x: hidden;
//	position:fixed;
}


#drawer {
	height: 100%;
	position: fixed;
	left: 0;
	top: @drawerNavH;

	ul {
		margin: 0;
		padding: 0;

		li.item {
			margin: 0;
			padding: 0;

			width: @drawerW;
			height: @drawerItemH;
			background-color: @black + 20%;
			margin-top: 1px;

			a {
				display: block;
				line-height: @drawerItemH;
				padding: 0 10px;
				color: white;
				font-size: 18px;
				text-decoration: none;

				i {
					line-height: @drawerItemH;
					font-size: @drawerItemH * .6;
					margin-right: 10px;
				}
			}
		}
	}


}

#content {
	width: 100%;

	.transition(all,0.1s,linear,0s);
	-webkit-transform: translate3d(0,0,0);
	-moz-transform: translate3d(0,0,0);
	-ms-transform: translate3d(0,0,0);
	-o-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);

	* {
		-webkit-transform: translateZ(0);
	}

	@media @mq-mobile {

		body.open & {
			-o-transform: translateX(@drawerW);
			-ms-transform: translateX(@drawerW);
			-moz-transform: translateX(@drawerW);
			-webkit-transform: translateX(@drawerW);
			transform: translateX(@drawerW);
		}
	}
}







#drawerNav {
	.column(12,none);
	display: none;
	color: white;
	background-color: @black + 20%;

	position: fixed;
	top: 0;
	left: 0;

	height: @drawerNavH;

	z-index: 100;


	@media @mq-mobile {
		display: block;
	}

	i {
		color: white;
		font-size: 25px;
		line-height: @drawerNavH;
		cursor: pointer;
		padding: 5px 10px;
		display: inline;
	}

	h1 {
		display: inline;
		font-family: "Lobster", sans-serif;
		line-height: @drawerNavH;
		font-size: 25px;
	}

}




#filler {
	.full_width;
	height: 1000px;
	background-color: white;
}





#header {
	.full_width;
	background-color: @black;

	.title {
		.column(6);
		padding-top: 60px;
		padding-bottom: 60px;

		h1 {

			span {
				text-transform: uppercase;
				display: block;
				width: 100%;
			}

			/* span:nth-child(1), span:nth-child(2) { */
			span:first-child , span:first-child + span {

				color: @white;
				font-weight: bold;
			}

			/* span:nth-child(3), span:nth-child(4) { */
			span:first-child + span + span, span:first-child + span + span + span {
				color: @highlight2;
			}
		}
	}

	.about {
		.column(6);
		position: absolute;
		bottom: 0px;

		.location {
			.column(12);
			color: @greyLight;
			text-align: right;
		}

		.contact {
			.column(12);
			color: @greyLight;
			text-align: right;
			padding-top: 10px;
			padding-bottom: 10px;
		}

		.availabilityContainer {
			.column(12);
			font-family: "Lobster";
			display: inline-block;
			line-height: 78px;

			border-top: 1px solid @greyDark;
			border-bottom: 1px solid @greyDark;
			margin-top: 20px;
			margin-bottom: 20px;

			/* span:nth-child(1){ */
			span:first-child {
				color: @highlight1;
				//text-decoration: line-through;
			}

			/* span:nth-child(2){ */
			span:first-child + span {
				color: @greyDark;
				font-family: "verdana";
			}

			/* span:nth-child(3){ */
			span:first-child + span + span {
				color: @highlight2;
				text-decoration: line-through;
			}
		}

		.introduction {
			.column(12);
			margin-bottom: 35px;
			color: @greyLight;
		}
	}
}



#banner {
	.full_width;

	height: 255px;
	background-image: url('@{baseURL}images/banner.png');
	background-repeat: repeat-x;
	overflow:auto;

	border-top: 5px solid @black;

	.page {
		height: 100%;
		background-color: none;
		background-image: url('@{baseURL}images/bannerFloatArrows.png');
		background-position: top center;
		background-repeat: no-repeat;

		&:before {
			position: absolute;
			top: 0;
			left: 9em;
			content: "";
			width: 62px;
			height: 31px;
			background-image: url('@{baseURL}images/tear.png');
			background-repeat: no-repeat;
		}

		h2 {
			.column(6);
			text-align: right;
			padding-top: 45px;
			z-index: 100;

			span {
				font-family: "Lobster", sans-serif;
				line-height: 0.8em;
				display: block;
				width: 100%;
			}

			/* span:nth-child(1), span:nth-child(3) { */
			span:first-child , span:first-child + span + span {
				color: @black;
			}

			/* span:nth-child(2) { */
			span:first-child + span {
				color: @highlight1;
			}
		}
	}
}